.container{
  display: flex;
}
.pie{
  position: relative;
  background: #f06;
  border-radius: 50%;
  overflow: hidden;
  height: 350px;
  width: 350px;
  margin: 0 auto;
}

.pie1::before{
  content: '';
  position: absolute;
  bottom: 50%;
  left: 50%;
  padding: 50%;
  background: gold;
}

.pie2::before{
  content: '';
  position: absolute;
  bottom: 50%;
  left: 50%;
  padding: 50%;
  background: gold;
  transform: skewY(40deg);
  transform-origin: bottom left;
}

.pie3::before{
  content: '';
  position: absolute;
  bottom: 50%;
  left: 50%;
  padding: 50000%;
  background: gold;
  transform: skewY(80deg);
  transform-origin: bottom left;
}

.pie4::before{
  content: '';
  position: absolute;
  bottom: 50%;
  left: 50%;
  padding: 50000%;
  background: gold;
  transform: rotate(-90deg) skew(50deg);
  transform-origin: bottom left;
}

.pie-rotate{
  border-radius: 50%;
  position: relative;
  height: 350px;
  width: 350px;
  margin: 0 auto;
  background: linear-gradient(to right, #f06 50%, gold 0)
}

/* had to type more things than she did in the video, didnt work without this */
.pie-rotate-2::before {
  content: "";
  height: 100%;
  position: absolute;
  margin-left: 50%;
  border-radius: 0 100% 100% 0 / 50%;
  background: #f06;
  transform: rotate(10deg);
  transform-origin: left;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.pie-rotate-3::before {
  content: "";
  height: 100%;
  position: absolute;
  margin-left: 50%;
  border-radius: 0 100% 100% 0 / 50%;
  background: gold;
  transform: rotate(70deg);
  transform-origin: left;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.pie-rotate-color{
  border-radius: 50%;
  position: relative;
  height: 350px;
  width: 350px;
  margin: 0 auto;
  color: green;
  background: linear-gradient(to right, transparent 50%, currentColor 0) #f06
}

.pie-rotate-4::before {
  content: "";
  height: 100%;
  position: absolute;
  margin-left: 50%;
  border-radius: 0 100% 100% 0 / 50%;
  background: currentColor;
  transform: rotate(70deg);
  transform-origin: left;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@keyframes color{
  50% {
    background-color: #f06;
  }
}

@keyframes spin{
  to{
    transform: rotate(.5turn)
  }
}

.pie-animate::before {
  content: "";
  height: 100%;
  position: absolute;
  margin-left: 50%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: gold;
  transform-origin: left;
  animation: color 100s step-start, 50s spin linear 2;
  animation-play-state: paused;
  animation-fill-mode: forwards;
  animation-delay: -90s;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.pie-svg{
  background: #f06;
  height: 350px;
  border-radius: 50%;
  margin: 0 auto;
}

.pie-svg .circle{
  stroke: gold;
  stroke-width: 32;
  stroke-dasharray: 54 100;
  fill: none
}

.pie-conic{
  background: conic-gradient(yellowgreen 40%, gold 0 70%, #f06 0);
  border-radius: 50%;
  margin: 0 auto;
  height: 350px;
  width: 350px;
}